

{% extends "layouts/blank.html" %} 

{% block content %}



<wrapper class="block max-w-2xl mx-auto my-10 px-6">
    

    <div id="chat_window" class="h-[45rem] flex flex-col bg-gray-800 rounded-2xl shadow-2xl relative p-1">

        <!-- 聊天窗口頂部 -->
<div class=" text-emerald-400 bg-gray-800 p-3 sticky top-0 z-10 flex items-center">
    {% if other_user %}
    <!-- 綠點 -->
    {% comment %} <div id="online-icon" class="gray-dot absolute top-2 left-2"></div> {% endcomment %}

    <!-- 返回按鈕 -->
    <div class="absolute top-1/2 left-12 transform -translate-y-1/2">
        <a 
        class="font-bold text-white text-lg hover:text-gray-400 transition duration-100"
        href="{% url 'pages:home' %}">
        
       < 回首頁
        </a>
    </div>


    <!-- 頭像與名稱 -->
    <a href="{% url "users:information" other_user.username %}" class="mx-auto flex items-center gap-2">
        {% if other_user.profile.photo %}
            <img class="w-11 h-11 rounded-full object-cover" 
                 src="{{ other_user.profile.photo.url }}"
                 alt="{{ other_user.username }}"/>
        {% else %}
            <!-- 預設頭像 -->
            <img class="w-10 h-10 rounded-full object-cover" 
                 src="https://www.shutterstock.com/image-vector/profile-default-avatar-icon-user-600nw-2463844171.jpg"
                 alt="{{ other_user.username }}"/>
        {% endif %}
        <div>
            <span class="font-bold text-white">{{ other_user.username }}</span>
        </div>
    </a>
    {% else %}
    <div id="online-icon"></div>
    <span id="online-count" class="pr-1"></span>onLine
    {% endif %}
</div>

        <div id='chat_container' class="overflow-y-auto grow">
            <ul id='chat_messages' class="flex flex-col justify-end gap-2 p-4">
                {% for message in chat_messages reversed %}
                {% include "rtchat/chat_message.html" %} 
                {% endfor %}
            </ul>
        </div>
        <div class="sticky bottom-0 z-10 p-2 bg-gray-800">
                <div class="flex items-center rounded-xl px-2 py-2">
                    <form id="chat_message_form" method='POST' class="w-full"
                        hx-ext="ws"
                        ws-connect="/ws/chatroom/{{ chatroom_name }}"
                        ws-send
                        _="on htmx:wsAfterSend reset() me">
                        {% csrf_token %}
                        {{form}}
                    </form>
                </div>
        </div>
    </div>
</wrapper>

{% endblock %}
{% block javascript%}
<script>
    function scrollToBottom() {
      const container = document.getElementById("chat_container");
      container.scrollTop = container.scrollHeight;
    }
    scrollToBottom();
</script>



{% endblock %}


